@using XUCore.WebTests.Controllers;
@{
    var model = (ReturnModel)Model;
}
<div class="text-center">

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad

    我是子视图啊啊啊啊啊啊啊啊 啊啊

    asdasdasdsad
    <br />
</div>